body {
  background-color: #f2fcfc;
}
h1 {
  color: DarkCyan;
  font-family: Monaco, monospace;
}
h2 {
  color: DarkCyan;
  font-family: Monaco, monospace;
}
p {
  color: SlateGray;
  font-family: Monaco, monospace; 
}

a{
  color: SlateGray;
  font-family: Monaco, monospace;
  text-decoration: none;
}
hr{
  border: 2px solid DarkCyan;
}
.sidenav {
  height: 100%;
  width: 400px; 
  position: fixed;
  z-index: 1;
  top: 0 ; 
  left: 0;
  background-color: #f2fcfc;
  overflow-x: hidden;
  padding-top: 100px;
  text-align: center;
}

.sidenav img {
  border-radius: 50%;
}

.main{
  padding-top: 0px;
  margin-right: 130px;
  margin-left: 410px;
	
}

.pagecontent {
  margin-left: 20px; 
  padding: 20px 10px;
}
.education{
	padding-top: 30px;
	font-size: 16px;
}
.experiences{
	padding-top: 30px;
	font-size: 16px;
}
.publications{
	padding-top: 10px;
	font-size: 16px;
}
.paperinfo:hover{
	color: #000;
}
.paper{
	padding: 0px 125px;
	font-size: 13px;
}
.chron{
	font-size: 18px;
}

.uni{
	padding: 0px 90px;
	font-size: 14px;
}
.firm{
	padding: 0px 177px;
	font-size: 14px;
}
.uppertab{
  position: sticky;
  top: 0;
  z-index: 999;
  padding-top: 35px;
  margin-right: 130px;
  margin-left: 410px;
  background-color: #f2fcfc;
}

.uppertab p{
	text-align: right;
}
.uppertab a{
	color: DarkCyan;
	font-size: 18px;
}
.cv{
    padding-top: 30px;
	font-size: 16px;
}
iframe{
	display: none;
}

.popuptext{
	display: none;
}
.popup{
    background-color: #ffffff;
    padding: 20px 10px 20px 10px;
    position: absolute;
    border-radius: 8px;
    display: none;
	font-size: 13px;
	margin-right: 130px;
    margin-left: 0px;
}